<link rel="stylesheet" href="login_page.css">

<div class="all-wrapper flex all-image">
  <div class="card">
    <div class="logo"><%= image_tag "logo.svg", alt: "Easy-Readzyのロゴ" %></div>
    <p class="slogan">積読、読んどく？学んどく？</p>
    <p class="introduction">Easy-Readzyは技術書の管理とアウトプットに役立つアプリです</p>
    <%= button_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "button" %>
  </div>
</div>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%# <div class="field"> %>
    <%#= f.label :email %>
    <%# <br /> %>
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= f.label :password %>
    <%# <br /> %>
    <%#= f.password_field :password, autocomplete: "current-password" %>
  <%# </div> %>

  <%# if devise_mapping.rememberable? %>
    <%# <div class="field"> %>
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <%# </div> %>
  <%# end %>

  <%# <div class="actions"> %>
    <%#= f.submit "Log in" %>
  <%# </div> %>
<%# end %>

<%#= render "devise/shared/links" %>
