<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%# ログアウト用ボタン %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<% if user_signed_in? %>
  <p>あなたはログイン中です</p>
<% else %>
  <p>あなたはログアウト中です</p>
<% end %>

<%= link_to "ログイン画面へ移動", "/users/sign_in" %>
